:root {
  background-color: #f7f1e3;
}

.App {
  min-height: 90vh;
  background-color: #f7f1e3;
  height: 100%;
  background-size: cover;
}

h1 {
  margin: 0;
  padding-top: 20px;
}

.completed {
  text-decoration: line-through;
}

h5 {
  margin: 0;
}

.date-month {
  margin-top: 30px;
}

input:not([type]),
input[type='text']:not(.browser-default),
input[type='password']:not(.browser-default),
input[type='email']:not(.browser-default),
input[type='url']:not(.browser-default),
input[type='time']:not(.browser-default),
input[type='date']:not(.browser-default),
input[type='datetime']:not(.browser-default),
input[type='datetime-local']:not(.browser-default),
input[type='tel']:not(.browser-default),
input[type='number']:not(.browser-default),
input[type='search']:not(.browser-default),
textarea.materialize-textarea {
  margin-top: 20px;
}

li {
  list-style-type: none;
}

.date-layout {
  text-align: center;
  justify-content: center;
}

.date-day {
  text-align: center;
  float: right;
}

.todo-app {
  background-color: white;
  width: 30vw;
  min-height: 500px;
}

.todo-form {
  justify-content: center;
  text-align: center;
}

.white-app {
  margin-top: 50px;
  min-height: 500px;
}

.todo {
  justify-content: center;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  margin: 10px auto;
  max-width: 25vw;
  display: block;
}

@media screen and (max-width: 800px) {
  .todo {
    max-width: 75vw;
  }

  .todo-app {
    width: 80vw;
  }
}

.todo-item {
  text-align: center;
  justify-content: center;
  margin: 0 15px;
  display: inline;
}
